@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white-bg-1: #fffcf8;
  --color-white-bg-2: #eaf5ff;
  --color-white-orange: #f1871d;
  --color-white-button: #fff4e0;

  --color-dark-bg-1: #0e001a;
  --color-dark-bg-2: #000916;
  --color-dark-purple: #d1a4fd;
  --color-dark-button: #3d0d5d;

  --font-manrope: "Manrope", sans-serif;
  --font-sora: "Sora", sans-serif;
}
