---
const { text } = Astro.props;
---

<span
  class="py-1 px-2 w-fit rounded-lg bg-white-button/75 dark:bg-dark-button/75 font-medium font-sora text-sm text-white-orange dark:text-dark-purple"
>
  {text}
</span>
