---
// Assets
import Logotipo from "../assets/svg/Logo.svg";

// Componentes
import Navbar from "./navbar/Navbar.jsx";
import HamburgerButton from "./navbar/HamburgerButton";
---

<header
  class="flex justify-between items-center fixed w-full max-w-[1440px] px-6"
>
  <a
    href="/"
    class="flex max-w-7xl px-4 py-2 rounded-lg w-fit bg-white-button/75 dark:bg-dark-button/75 z-10 backdrop-blur-sm md:px-6 md:py-3"
    aria-label="Botón inicio"
  >
    <Logotipo class="fill-white-orange dark:fill-dark-purple h-6 md:h-7" />
  </a>
  <Navbar client:load />
  <HamburgerButton client:load />
</header>
