---
// Recursos
import Logotipo from "../assets/Logo.svg";

// Componentes
import Navbar from "../components/navbar/Navbar.jsx";
---

<header class="flex justify-between">
  <a
    href="/"
    class="flex px-4 py-2 rounded-lg w-fit bg-botones md:px-6 md:py-3"
  >
    <Logotipo class="fill-texto-2 h-6 md:h-7" />
  </a>
  <Navbar />
</header>
